/*FUENTES*/
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
h1 {
  font-size: 5rem;
  text-align: center;
  margin: auto;
}
h2 {
  font-size: 3rem;
  margin: auto;
}
/*BODY, CONTAINERS, SEMANTIC */
body {
  margin: 0;
  background-color: #1B1B1B;
  color: #F5F5F5;
}
.container_main {
  max-width: 2000px;
  position: relative;
}
header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #104712;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  gap: 0.5rem;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  color: #F5F5F5;
   
  transition: 0.3s;
}

nav a:hover {
  color: #FFEB3B;
}
footer {
  background-color: #104712;
  padding: 2rem;
  text-align: center;
}
/* IMAGENES, CARTELES, CARTAS, ETC */
header img {
  width: 8em;
}
.imgindex {
  width: 100%;
  border-radius: 15px;
}